<a href="https://colab.research.google.com/github/BerengerQueune/wild_notebooks/blob/main/Berenger_Python_and_dictionaries.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Mission 1

Below is a dictionary containing the number of French campuses that offer each kind of Wild Code School course.

wildcodeschool = {
   "data_analyst": 4,
   "data_scientist": 2,
   "dev_web": "13" 
}

Find a way to only display the keys that have int values.

In [ ]:
wildcodeschool =	{
  "data_analyst": 8,
  "data_scientist": 2,
  "business intelligence analyst": 5,
  "dev_web": "13"
}

for i in wildcodeschool:
	if isinstance((wildcodeschool[i]), int):
		print (i)

data_analyst
data_scientist
business intelligence analyst

# Mission 2

For the same dictionary, find a way to display all the values that have a key that contains the letter "e".

In [ ]:
wildcodeschool =	{
  "data_analyst": 8,
  "data_scientist": 2,
  "business intelligence analyst": 5,
  "dev_web": "13"
}

for key, value in wildcodeschool.items():
	if 'e' in key:
		print (value)

2
5
13

# Mission 3

Within the same dictionary, change the type of the value of the "dev_web" key to be an int. Then add a new key-value pair which will be "total_campus" > 19, using a **dictionary method**.

In [ ]:
wildcodeschool =	{
  "data_analyst": 8,
  "data_scientist": 2,
  "business intelligence analyst": 5,
  "dev_web": "13"
}

wildcodeschool["dev_web"] = int(wildcodeschool["dev_web"])
wildcodeschool.setdefault("total_campus", 19)


print (wildcodeschool)

{'data_analyst': 8, 'data_scientist': 2, 'business intelligence analyst': 5, 'dev_web': 13, 'total_campus': 19}

# Mission 4

Take the dictionary generated from mission 3. Delete any key value pair randomly, except for total_campus.

In [ ]:
from itertools import islice
from random import randrange

wildcodeschool =	{
  "data_analyst": 8,
  "data_scientist": 2,
  "business intelligence analyst": 5,
  "dev_web": 13,
  "total_campus": 19
}

del wildcodeschool[next(islice(wildcodeschool, randrange(4), None))]

print (wildcodeschool)

{'data_analyst': 8, 'data_scientist': 2, 'dev_web': 13, 'total_campus': 19}

In [ ]:
wildcodeschool =	{
  "data_analyst": 8,
  "data_scientist": 2,
  "business intelligence analyst": 5,
  "dev_web": 13,
  "total_campus": 19
}

# Mission 5

Still within the dictionary generated from Mission 3, find a way to display the dictionary keys in alphabetical order.

In [ ]:
wildcodeschool =	{
  "data_analyst": 8,
  "data_scientist": 2,
  "business intelligence analyst": 5,
  "dev_web": 13,
  "total_campus": 19
}

print (sorted(wildcodeschool))

['business intelligence analyst', 'data_analyst', 'data_scientist', 'dev_web', 'total_campus']

# Mission 6

Create a script that returns the same output as the **values()** method.

In [ ]:
wildcodeschool =	{
  "data_analyst": 8,
  "data_scientist": 2,
  "business intelligence analyst": 5,
  "dev_web": 13,
  "total_campus": 19
}

print (sorted(wildcodeschool.values()))

[2, 5, 8, 13, 19]