<a href="https://colab.research.google.com/github/BerengerQueune/wild_notebooks/blob/main/Python_Shorthand_syntax.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
test_list = [0, 3, -6, 9, 12, -15, 18, -21, 24, 27]

A function that converts amounts in dollars to amounts in euros (take the euro/dollar rate of the day you do the quest).

In [ ]:
# Standard syntax

def dollars_to_euros(dollarse):
  return dollarse * 0.86

dollars_to_euros(100)

86.0

In [ ]:
# Short syntax
(lambda dollars: dollars*0.86)(100)

86.0

A function that returns the sum of the even numbers in a list containing integers.

In [ ]:
# Standard syntax
def even_number(liste):
  sum_of_even_number = 0
  for i in liste:
    if i%2 == 0:
      sum_of_even_number +=i
  return sum_of_even_number

even_number(test_list)

48

In [ ]:
# Short syntax
sum_of_even_number2 = sum(list(filter(lambda x: (x%2 == 0) , test_list)))
sum_of_even_number2

48

A script that converts a list of positive or negative integers into a new list containing absolute values.

In [ ]:
# Standard syntax

def converts_number(test_list):
  new_list = []
  for i in test_list:
    if i < 0:
      i -= i*2
    new_list.append(i)
  return new_list

converts_number(test_list)

[0, 3, 6, 9, 12, 15, 18, 21, 24, 27]

In [ ]:
# Short syntax

sum_of_even_number3 = lambda x: [abs(x) for x in test_list]
sum_of_even_number3(test_list)

[0, 3, 6, 9, 12, 15, 18, 21, 24, 27]

In [ ]:
 [abs(x) for x in test_list]

[0, 3, 6, 9, 12, 15, 18, 21, 24, 27]

In [ ]:
# testing purpose

sum_of_even_number4 = list([-x if x <0 else x for x in test_list ])
sum_of_even_number4

[0, 3, 6, 9, 12, 15, 18, 21, 24, 27]