In [1]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.model_selection import cross_val_score
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import RandomizedSearchCV
from sklearn.model_selection import GridSearchCV

df_titanic = pd.read_csv('https://raw.githubusercontent.com/BerengerQueune/Various/main/Dataset/titanic.csv?token=AU6BUZU3RS2RDI5PDZNQNRDBUSNLM')
df_titanic.head()

,Survived,Pclass,Name,Sex,Age,Siblings/Spouses Aboard,Parents/Children Aboard,Fare
0,0,3,Mr. Owen Harris Braund,male,22.0,1,0,7.2500
1,1,1,Mrs. John Bradley (Florence Briggs Thayer) Cum...,female,38.0,1,0,71.2833
2,1,3,Miss. Laina Heikkinen,female,26.0,0,0,7.9250
3,1,1,Mrs. Jacques Heath (Lily May Peel) Futrelle,female,35.0,1,0,53.1000
4,0,3,Mr. William Henry Allen,male,35.0,0,0,8.0500

You will perform a supervised classification on the column "survived", using the decision tree classifier. You must clearly show the accuracy score of the test set.

In [2]:
#Factorization
df_titanic['Sex'] = df_titanic['Sex'].factorize()[0]

X = df_titanic[['Pclass', 'Sex', 'Age', 'Siblings/Spouses Aboard',
       'Parents/Children Aboard', 'Fare']]
y = df_titanic['Survived']

X_train, X_test, y_train, y_test = train_test_split(X, y, train_size = 0.75, random_state=35)

# We train the model with a Decision Tree Classifier
modelDTR = DecisionTreeClassifier()
modelDTR.fit(X_train, y_train)

print("accuracy score on Decision Tree Classifier train set:",modelDTR.score(X_train, y_train))
print("accuracy score on Decision Tree Classifier test set:",modelDTR.score(X_test, y_test))

accuracy score on Decision Tree Classifier train set: 0.9864661654135338
accuracy score on Decision Tree Classifier test set: 0.7792792792792793

With this same classifier, you will run a GridSearch with the values :
*   all integers from 1 to 50 of the parameter max_depth
*   all integers from 1 and 15 of the parameter min_samples_leaf
*   (2, 5, 7, 10, 15, 30) of the min_samples_split parameter

In [3]:
dico = {'max_depth': range(1,51),
        'min_samples_leaf': range(1,16),
        'min_samples_split' : (2, 5, 7, 10, 15, 30)}

grid = GridSearchCV(DecisionTreeClassifier(), dico)
grid.fit(X,y)

print("best score:",grid.best_score_)
print("best parameters:",grid.best_params_)

best score: 0.830895702405891
best parameters: {'max_depth': 5, 'min_samples_leaf': 1, 'min_samples_split': 5}

With this search via GridSearch, what are the best values of the hyperparameters if we want to maximize the accuracy score ?

In [4]:
#Best parameters are 'max_depth': 5, 'min_samples_leaf': 1, 'min_samples_split': 5

With this same classifier, you will run a RandomSearch on the same parameter values limiting to 200 iterations.

In [5]:
dico = {'max_depth': range(1,51),
        'min_samples_leaf': range(1,16),
        'min_samples_split' : (2, 5, 7, 10, 15, 30)}

rando = RandomizedSearchCV(DecisionTreeClassifier(), dico, n_iter=200)
rando.fit(X,y)

print("best score:",rando.best_score_)
print("best parameters:",rando.best_params_)

best score: 0.8241668253665969
best parameters: {'min_samples_split': 10, 'min_samples_leaf': 5, 'max_depth': 8}

With this search via RandomSearch, what are the best values of the hyperparameters if we want to maximize the accuracy score?

In [6]:
#Best parameters are 'min_samples_split': 5, 'min_samples_leaf': 1, 'max_depth': 4