In [ ]:
import json
import requests
import pandas as pd

link = "https://raw.githubusercontent.com/WildCodeSchool/java-jsonparse/master/weather.json"

# This function gets the file content from the URL
r = requests.get(link)

# You can access to the text content with this function
r.text

data = json.loads( r.text)

## Display the value of the "name" attribute

In [ ]:
data['name']

'London'

## Display the values of the "lat" and "lon" attributes of the "coord" element contained in the root

In [ ]:
lat = data["coord"]["lat"]
lon = data["coord"]["lon"]

print (f"Value of lat is: {lat}")
print (f"Value of lon is: {lon}")

Value of lat is: 51.51
Value of lon is: -0.13

## Browse all items in "weather" and display the contents of "main" (maybe with a loop ?)

In [ ]:
for i in data["weather"]:
  for k, v in i.items():
    if k == "main":
      print (v)

Drizzle
Clear

## Now try to import your json file in pandas

In [ ]:
# You can directly read JSON from your request object
print(r.json())

# And you can import JSON object to pandas
pd.json_normalize(r.json())

# You can scroll with the record_path argument
# and keep some information with meta argument
pd.json_normalize(r.json(),  record_path= "weather",meta = 'dt')

{'coord': {'lon': -0.13, 'lat': 51.51}, 'weather': [{'id': 300, 'main': 'Drizzle', 'description': 'light intensity drizzle', 'icon': '09d'}, {'id': 800, 'main': 'Clear', 'description': 'clear sky', 'icon': '01n'}], 'base': 'stations', 'main': {'temp': 280.32, 'pressure': 1012, 'humidity': 81, 'temp_min': 279.15, 'temp_max': 281.15}, 'visibility': 10000, 'wind': {'speed': 4.1, 'deg': 80}, 'clouds': {'all': 90}, 'dt': 1485789600, 'sys': {'type': 1, 'id': 5091, 'message': 0.0103, 'country': 'GB', 'sunrise': 1485762037, 'sunset': 1485794875}, 'id': 2643743, 'name': 'London', 'cod': 200}

    id     main              description icon          dt
0  300  Drizzle  light intensity drizzle  09d  1485789600
1  800    Clear                clear sky  01n  1485789600

## Now filter your DataFrame with Pandas to display only the following columns : main (inside weather), name, and visibility.

In [ ]:
my_data_frame = pd.json_normalize(r.json(),  record_path= ["weather"][0],meta = [['name'], ['visibility']])[["main", "name", "visibility"]]
my_data_frame

      main    name visibility
0  Drizzle  London      10000
1    Clear  London      10000