# Mission

Still using this dataset: http://bit.ly/imdbratings
- Which actor is mentioned the most often?

In [ ]:
import pandas as pd

link = 'https://raw.githubusercontent.com/justmarkham/pandas-videos/master/data/imdb_1000.csv'
df = pd.read_csv(link)

In [ ]:
df["actors_list"] = df["actors_list"].apply(eval)
df.head()

   star_rating  ...                                      actors_list
0          9.3  ...        [Tim Robbins, Morgan Freeman, Bob Gunton]
1          9.2  ...           [Marlon Brando, Al Pacino, James Caan]
2          9.1  ...       [Al Pacino, Robert De Niro, Robert Duvall]
3          9.0  ...    [Christian Bale, Heath Ledger, Aaron Eckhart]
4          8.9  ...  [John Travolta, Uma Thurman, Samuel L. Jackson]

[5 rows x 6 columns]

In [ ]:
def to_1D(series):
 return pd.Series([x for _list in series for x in _list])

In [ ]:
to_1D(df["actors_list"]).value_counts().head()

Robert De Niro    18
Tom Hanks         14
Clint Eastwood    14
Brad Pitt         14
Al Pacino         13
dtype: int64

The actor mentioned the most is Robert De Niro